## What You'll Accomplish in this Notebook

In this notebook we'll learn about a few online sources of data.

In [1]:
# These packages will be used today
import pandas as pd

# Gathering Data

Before you can start any data science project you will need data. 

If you take a position as a data scientist, machine learning engineer, or any other number of related roles you will often be provided data by your employer. However, until then you will need to find data yourself. In this notebook we will review some methods to find publiclly available data, as well as go through some data basics we'll use throughout this course.

Let's get started!

## Data Via Websites

Probably the easiest way to get data is via websites dedicated to providing data sets. 

### Academic Repositories
These can be academic data repositories such as the <a href = "https://archive.ics.uci.edu/ml/index.php">UC Irvine Machine Learning Repository</a>. Visit and download a file.

I downloaded one about forest fires, it can be loaded below.

In [2]:
# When data is stored in csv format, you can
# read it in like this. csv stands for 
# comma separated values. This is one
# common method of storing data
df = pd.read_csv("forestfires.csv")

In [3]:
# This gives us the first 5 entries of the data set
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

Sites like this are designed to hold popular data sets from research papers. These data sets are often set up to test the performance of new machine learning algorithms.

### Data Science Competition Sites

Another example of data hosting website is a data science competition site. One of the most popular is <a href = "https://www.kaggle.com/">Kaggle</a>. These sites host competitions, often with prizes attached. They also have pages of user submitted data sets. Try going to the datasets tab here, <a href="https://www.kaggle.com/datasets">https://www.kaggle.com/datasets</a>, and downloading a file. Then read it in here.

In [ ]:
## We'll find and read in our example here

In [ ]:
df.head()

Other data competition websites include <a href = "https://www.drivendata.org/">DrivenData</a>, <a href = "https://www.crowdanalytix.com/community">CrowdANALYTIX</a>, <a href = "https://codalab.org/">CodaLab</a>, and <a href = "https://www.datasciencechallenge.org/">Data Science Challenge</a>.

### Data on Github Repositories

Another source of data on the web is github. As we saw in Notebook 1 many popular news sites will post their interesting data sets on their github repositories. Two that I like are the <a href="https://fivethirtyeight.com/">FiveThirtyEight</a> repository, <a href="https://github.com/fivethirtyeight/">https://github.com/fivethirtyeight/</a>, and the <a href="https://pudding.cool/">pudding.cool</a> repository, <a href="https://github.com/the-pudding/data">https://github.com/the-pudding/data</a>.

Feel free to take a couple minutes to explore those.

That's it for data websites, next up web scraping with `BeautifulSoup`